{{>header}}


<section id="body">
	<h3>productos</h3>
	<section>
		{{#each product}}
			<div class="pdrt">
				<img id="img_pdrt" src="https://res.cloudinary.com/dk2ghb1pg/image/upload/v1535301733/bxoyfrkj4zwtbsewcryf.png">
				<section id="info">
					<p>{{this.nombre}}</p>
					<p>{{this.descripcion}}</p>
					<p>{{this.precio}} \t {{this.duracion}}</p>
				</section>
				<button class="btn"  onclick="anadir_carrito('{{this._id}}')">añadir al carrito</button>
			</div>
		{{/each}}

	</section>
</section>


<a href="/carrito">
	<section id="carrito" onclick="goto_carrito()">
	<img id="carro" src="images/carrito.png">
	<p id="cntd_elem"></p>
	</section>
</a>


<section id="footer">

</section>
{{>footer}}

<script type="text/javascript">
incrementar_carrito();
</script>