{{>header}}

<section id="header">
<h1>Internet Colombia</h1>
</section>


<section id="body">
	<h3>productos</h3>
	<section>
		{{#each product}}
			<div class="pdrt">
				<img src="https://res.cloudinary.com/dk2ghb1pg/image/upload/v1535301733/bxoyfrkj4zwtbsewcryf.png">
				<section id="info">
					<p>{{this.nombre}}</p>
					<p>{{this.descripcion}}</p>
					<p>{{this.precio}} \t {{this.duracion}}</p>
				</section>
				<button class="btn"  onclick="anadir_carrito('{{this._id}}')">añadir al carrito</button>
			</div>
		{{/each}}

	</section>
</section>

<a href="#">	
	<section id="carrito">
		<img src="images/carrito.png">
		<p id="cntd_elem"></p>
	</section>
</a>

<section id="footer">

</section>
{{>footer}}